<!----------------------------------------------------------------------
# Authors:
#   Bruno Dilly
#
# Copyright (C) 2007 Authors
#
# Released under GNU GPL, read the file 'COPYING' for more information
# ---------------------------------------------------------------------->
<h1> <%= h(@group.name) %>'s Members</h1>
<% for person in @all_group_members %>
<%= h(person.name) %> <br />
<% end %>

